<ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link active" href="javascript:void(0);" data-scroll-nav="0">Accueil</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" data-scroll-nav="1">&Agrave; propos</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" data-scroll-nav="2">Nouveautés</a></li>        
    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" data-scroll-nav="3">&Eacute;vènements</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" data-scroll-nav="4">Modèles</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" data-scroll-nav="5">Marques</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" data-scroll-nav="6">Recrutement</a></li>
    <li class="nav-item"><a class="nav-link" href="javascript:void(0);" data-scroll-nav="7">Contact</a></li>
</ul>