<link rel="stylesheet" href="{{ asset('css/about.css') }}"/>

<section class="hero no-padding-bottom" data-scroll-index="1">
    <div class="container margin-50px-bottom">
        <div class="row">
            <div class="col-12 center-col margin-30px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center wow fadeInUp">
                <div class="alt-font margin-5px-bottom text-uppercase letter-spacing-1" style="color:#DF57A0;">&Agrave; propos</div>
                <h5 class="margin-10px-bottom font-weight-300">Japan Style Collection</h5>
                <div class="separator-line-horrizontal-medium-light2 bg-pink center-col"></div>
            </div>
        </div>
        <div class="row">
            <!-- start feature box item -->
            <div class="col-8 center-col sm-margin-20px-bottom wow fadeInRight animated" data-wow-delay="0.2s">    
                <div style="text-align:center;">
                    <p>J.S.C. est une nouvelle association qui organise des défilés de mode en France avec des marques japonaises venant principalement des quartiers de Shibuya et Harajuku.</p>
                    <a href="" class="alt-font margin-5px-bottom text-uppercase letter-spacing-1" style="color:#DF57A0; font-size:10px;" data-toggle="modal" data-target="#myModal">&rarr; Découvrir notre équipe &larr;</a>
                </div>

            </div>
            <!-- end feature box item -->
        </div>
    </div>
</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width:515px;">
      <div class="modal-header" style="border:none;">
        <div class="col-lg-8 col-md-10 col-sm-12 center-col margin-80px-left  text-center last-paragraph-no-margin">
            
            <div class="alt-font margin-5px-bottom text-uppercase letter-spacing-1" style="color:#DF57A0;">Notre équipe</div>
            <div class="separator-line-horrizontal-medium-light2 bg-pink center-col"></div>
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row col-12 center-col">
            <!-- start team member -->
            <div class="xs-margin-20px-bottom text-center">
                <div class="team-member-img">
                    <img class="img-responsive" src="{{ asset('img/team/marie.png') }}" alt="marie">
                </div>
                <div class="text-center margin-25px-top margin-15px-bottom  padding-15px-bottom border-bottom">
                    <div class="text-extra-dark-gray font-weight-600 text-uppercase font-size14 alt-font">Marie</div>
                    <div class="text-uppercase font-size11">Productrice</div>
                </div>
                <div class="social-links">
                    <a class="d-inline-block border-radius-100" href="https://www.instagram.com/marie.0726" target="_blank"><i class="fab fa-instagram text-medium-gray text-medium"></i></a>
                </div>
            </div>
            <!-- end team member -->

            <!-- start team member -->
            <div class="xs-margin-20px-bottom text-center">
                <div class="team-member-img">
                    <img class="img-responsive" src="{{ asset('img/team/isabelle.png') }}" alt="isabelle">
                </div>
                <div class="text-center margin-25px-top margin-15px-bottom  padding-15px-bottom border-bottom">
                    <div class="text-extra-dark-gray font-weight-600 text-uppercase font-size14 alt-font">Isabelle</div>
                    <div class="text-uppercase font-size11">Co-productrice</div>
                </div>
                <div class="social-links">
                </div>
            </div>
            <!-- end team member -->

            <!-- start team member -->
            <div class="xs-margin-20px-bottom text-center">
                <div class="team-member-img">
                    <img class="img-responsive" src="{{ asset('img/team/anais.png') }}" alt="anais">
                </div>
                <div class="text-center margin-25px-top margin-15px-bottom  padding-15px-bottom border-bottom">
                    <div class="text-extra-dark-gray font-weight-600 text-uppercase font-size14 alt-font">Anaïs</div>
                    <div class="text-uppercase font-size11">Photographe</div>
                </div>
                <div class="social-links">
                    <a class="d-inline-block margin-10px-right" href="https://www.facebook.com/lilicoth3kid" target="_blank"><i class="fab fa-facebook-f text-medium-gray text-medium"></i></a>
                </div>
            </div>
            <!-- end team member -->
        </div>
      </div>
    </div>
  </div>
</div> 