<link rel="stylesheet" href="{{ asset('css/header.css') }}"/>

<header class="header valign" data-scroll-index="0" data-overlay-dark="6">
        <video class="bg-vid" poster="img/bg1.jpg" autoplay="" loop="" muted="">
            <source src="{{ asset('video/jsc.mp4') }}" type="video/mp4">
        </video>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center caption">
                <h3 class="alt-font font-size28 sm-font-size18 no-margin">Japan Style Collection</h3>
                <h1 class="banner-headline clip">
                        <span class="blc">Fashion show</span>
                        <span class="banner-words-wrapper">
                          <b class="is-visible">in Paris</b>
                          <b>in Lyon</b>
                          <b>And more</b>
                        </span>
                </h1>
                <p class="margin-30px-bottom sm-margin-20px-bottom xs-display-none">Organisateur de défilés de mode japonaise en France !</p>
                <a href="javascript:void(0);" class="btn" data-scroll-nav="1">
                    <span>En savoir plus</span>
                </a>
            </div>
        </div>
    </div>
    <div class="arrow">
        <a href="javascript:void(0);" data-scroll-nav="1">
            <i class="fas fa-chevron-down"></i>
        </a>
    </div>
</header>